{% extends 'index.html' %}

{% block content %}
    <h1 class="titulo">Buscar Filmes</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="input" type="text" name="titulo" placeholder="Digite o título do filme" required>
            <button class="botao" type="submit">Buscar</button>
        </div>
    </form>

    {% if filmes %}
        <div class="lista-busca">
            {% for filme in filmes %}
                <div class="filme-card">
                    <h2>{{ filme.Title }}</h2>
                    <p>{{ filme.Year }} | {{ filme.Director }}</p>
                    <p>{{ filme.Plot }}</p>
                    <!-- Formulário para favoritar -->
                </div>
            {% endfor %}
        </div>
    {% elif mensagem %}
        <div class="notification warning">{{ mensagem }}</div>
    {% endif %}
{% endblock %}