{% extends 'index.html' %}

{% block content %}
    <h1>Editar Nota - {{ favorito.filme_favorito.titulo_filme }}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Nova Nota (0-10)</label>
            <input type="number" name="nota" value="{{ favorito.nota_usuario }}" step="0.1" min="0" max="10" required>
        </div>
        <button class="btn" type="submit">Salvar</button>
        <a href="{% url 'filmes:exibir_favoritos' %}" class="btn">Cancelar</a>
    </form>
{% endblock %}