{% extends 'index.html' %}

{% block content %}
    <h1>Meus Filmes Favoritos</h1>
    
    {% if favoritos %}
        <div class="lista-favoritos">
            {% for favorito in favoritos %}
                <div class="favs-card">
                    <h3>{{ favorito.filme_favorito.titulo_filme }}</h3>
                    <p>{{ favorito.filme_favorito.ano }} | {{ favorito.filme_favorito.diretor }}</p>
                    <p><strong>Sua nota:</strong> {{ favorito.nota_usuario|default:"N/A" }}</p>
                    
                    <form method="post" action="{% url 'filmes:remover_favorito' favorito.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Remover</button>
                    </form>
                    <a href="{% url 'filmes:editar_favorito' favorito.id %}" class="btn">Editar Nota</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="notification warning">Você ainda não tem filmes favoritos.</div>
    {% endif %}
{% endblock %}